module.exports = {
    mysql: {
        options: {
            host: "127.0.0.1",
            port: 3306,
            user: "database username",
            password: "ultra secrect password",
            database: "database name"
        },
        client: null
    },
    shortId: {
        length: 8, // Default length
    }
}